/* Dark mode colors. */
:root {
  --github-icon-color: hsl(218 17% 35%);

  --sl-font: 'Montserrat', sans-serif;

  --sl-color-accent-low: hsl(10, 52%, 20%);
  --sl-color-accent: hsl(10, 52%, 40%);
  --sl-color-accent-high: hsl(10, 52%, 65%);

  --sl-color-white: hsl(41, 50%, 95%);
}
/* Light mode colors. */
:root[data-theme='light'] {
  --sl-color-accent-low: hsl(10, 62%, 30%);
  --sl-color-accent: hsl(10, 62%, 50%);
  --sl-color-accent-high: hsl(10, 62%, 70%);

  --sl-color-white: hsl(41, 50%, 10%);
  --sl-color-black: hsl(41, 50%, 98%);
  --sl-color-gray-1: hsl(41, 50%, 15%);
  --sl-color-gray-2: hsl(41, 50%, 20%);
  --sl-color-gray-3: hsl(41, 50%, 30%);
  --sl-color-gray-4: hsl(41, 50%, 55%);
  --sl-color-gray-5: hsl(41, 50%, 76%);
  --sl-color-gray-6: hsl(41, 50%, 92%);
  --sl-color-gray-7: var(--sl-color-black);
}

#_top {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;

  background: rgb(174, 33, 39);
  background: linear-gradient(
    90deg,
    rgba(174, 33, 39, 1) 0%,
    rgba(223, 130, 17, 1) 17%,
    rgba(238, 181, 28, 1) 34%,
    rgba(11, 147, 106, 1) 50%,
    rgba(25, 117, 179, 1) 67%,
    rgba(37, 58, 126, 1) 84%,
    rgba(103, 35, 128, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card {
  border-radius: 1rem;
}

#custom-footer {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-size: 0.75rem;

  margin-top: 2rem;
  text-underline-position: under;

  & p {
    margin: 0;
  }

  & p:first-of-type {
    border-right: 1px solid var(--sl-color-gray-5);
    padding-right: 0.75rem;
  }

  & svg {
    display: inline-block;
    vertical-align: -10.5%;
  }
}
