---
import Default from '@astrojs/starlight/components/Footer.astro';
import { Icon } from '@astrojs/starlight/components';
import type { Props } from '@astrojs/starlight/props';

const isHomepage = Astro.props.slug === '';
---

{
  isHomepage ? (
    <div id="custom-footer">
      <p>
        Developed by{' '}
        <a
          href="https://github.com/Linkerin"
          aria-label="To Linkerin Github profile"
          target="_blank"
          rel="noopener external"
        >
          Linkerin
          <Icon name="external" />
        </a>
      </p>
      <p>
        Docs website powered by{' '}
        <a
          href="https://starlight.astro.build/"
          aria-label="To Starlight website"
          target="_blank"
          rel="noopener external"
        >
          Starlight
          <Icon name="external" />
        </a>
      </p>
      <p>
        Get
        <a
          href="/_pdf/spectrum-docs.pdf"
          aria-label="To open Spectrum docs PDF file in a new tab"
          target="_blank"
        >
          PDF version
        </a>
      </p>
    </div>
  ) : (
    <Default {...Astro.props}>
      <slot />
    </Default>
  )
}

<style>
  #custom-footer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 0.75rem;

    & a {
      text-wrap: nowrap;
    }

    & a,
    & a:visited {
      color: var(--sl-color-text-accent);
      text-decoration: none;
    }

    & a:hover {
      color: var(--sl-color-white);
      text-decoration: underline;
    }

    & > p {
      margin: 0;
    }

    & > p:not(:last-of-type) {
      border-right: 1px solid var(--sl-color-gray-5);
      padding-inline-end: 0.75rem;
      margin-inline-end: 0.75rem;
    }

    & svg {
      display: inline-block;
      margin-left: 0.25ch;
      vertical-align: -10.5%;
    }
  }
</style>
